DATABASE_URL=
RIOT_RIFTBOUND_API_KEY=
RIOT_RIFTBOUND_REGION=americas
RIOT_RIFTBOUND_LOCALE=en
SMTP_HOST=
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
CONTACT_TO=
OPENAI_API_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
